* {
  box-sizing: border-box;
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#canvas-bg {
  pointer-events: none;
}
#canvas-mg {
  pointer-events: none;
}
#canvas-mg2 {
  pointer-events: none;
}

.grab {
  cursor: grab;
}

#canvas-fg {
  pointer-events: none;
}
#canvas-fg2 {
  pointer-events: none;
}

#query-input {
  width: 200px;
  border-radius: 5px;
  outline: none;
  border-style: none;
  padding: 4px;
  margin-bottom: 4px;
}

.input-cont {
  position: fixed;
  z-index: 1;
  right: calc(50% - 100px);
  top: 15px;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-family: Arial;
}
.slider-label {
  color:white;
  font-size: 18px;
  margin-right: 5px;
}

.slider {
  font-size: 15px;
  padding: 6px 20px;
  /* margin: 4px 0px 0; */
  background-color: rgb(138, 138, 138);
  flex-grow: 1;
  border-radius: 5px;
}
.slider.x {
  cursor: ew-resize;
}
.slider.y {
  cursor: ns-resize;
}
.slider.rot {
  cursor: all-scroll;
}
.slider:hover {
  background-color: coral;
}

.slider-cont {
  display: flex;
  margin-bottom: 4px;
}

.hidden {
  display: none!important;
}

.button {
  color: white;
  background-color: rgb(88, 88, 88);
  padding: 5px 10px;
  border-radius: 3px;
  font-family: Arial;
}
.button:hover {
  background-color: coral;
}
input[type=checkbox] {
  margin-right: 2px;
}

.changelog {
  width: 300px;
  position: fixed;
  left: 20px;
  top: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
.record {
  font-family: Arial;
  padding: 4px 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(236, 236, 236);
}

.heading-small {
  padding: 0;
  margin: 0 0 5px;
  font-family: Arial;

}
.remove-record-btn {
  background-color: rgb(168, 5, 5);
  color: white;
  margin-left: 15px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
}