@font-face {
  font-family: 'andada';
  src: url(fonts/andada_pro/andada_variable.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'andada italic';
  src: url(fonts/andada_pro/andada_italic_variable.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#canvas-bg {
  pointer-events: none;
}
#canvas-bg2 {
  pointer-events: none;
}
#canvas-mg {
  pointer-events: none;
}
#canvas-mg2 {
  pointer-events: none;
}

.grab {
  cursor: none;
}

#canvas-fg {
  pointer-events: none;
}
#canvas-fg2 {
  pointer-events: none;
}
#canvas-fg3 {
  pointer-events: none;
}

#query-input {
  width: 300px;
  border-radius: 5px;
  outline: none;
  border-style: none;
  padding: 4px;
  margin-bottom: 4px;
  background-color: rgb(235, 235, 235);
}

.input-cont {
  position: fixed;
  z-index: 1;
  right: calc(50% - 100px);
  top: 15px;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-family: Arial;
}
.slider-label,.id-display {
  color:white;
  font-size: 18px;
  margin-right: 5px;
}

.slider {
  font-size: 15px;
  padding: 6px 20px;
  /* margin: 4px 0px 0; */
  background-color: rgb(138, 138, 138);
  flex-grow: 1;
  border-radius: 5px;
}
.slider.x {
  cursor: ew-resize;
}
.slider.y {
  cursor: ns-resize;
}
.slider.rot {
  cursor: all-scroll;
}
.slider:hover {
  background-color: coral;
}

.slider-cont {
  display: flex;
  margin-bottom: 4px;
}

.hidden {
  display: none!important;
}

.button {
  color: white;
  background-color: rgb(88, 88, 88);
  padding: 5px 10px;
  border-radius: 3px;
  font-family: Arial;
}
.button:hover {
  background-color: coral;
}
input[type=checkbox] {
  margin-right: 2px;
}

.changelog {
  width: max-content;
  position: fixed;
  left: 5px;
  top: 5px;
  background-color: rgb(214, 214, 214);
  padding: 5px;
  border-radius: 3px;
  z-index: 1;
}
.record {
  font-family: Arial;
  padding: 4px 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(172, 172, 172);
}
.record-title {
  user-select: none;
  cursor: pointer;
}
.heading-small {
  padding: 0;
  margin: 0 5px 2px 0;
  font-family: Arial;
}
.remove-record-btn {
  background-color: rgb(168, 5, 5);
  color: white;
  margin-left: 15px;
  padding: 3px 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.handle {
  width: 28px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  cursor: all-scroll;
  user-select: none;
  font-family: Arial;
  font-size: 16px;
}

.changelog .header {
  display: flex;
}

#save-changes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  font-family: Arial;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: rgb(168, 5, 5);
  cursor: pointer;
}
#save-changes-btn:hover {
  background-color: hsl(0, 100%, 25%);
}
.filler {
  flex-grow: 1;
}

.title-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: hsl(240,17%,7%);
  z-index: 3;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'andada';
  cursor: none;
}
.title-screen .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-screen h4 {
  margin: 0 0 20px;
  font-weight: 100;
  font-size: 2rem;
}
.title-screen h1 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 4rem;
}
.title-screen h2 {
  margin: 0;
  letter-spacing: 0.02rem;

}
.divider {
  width: 70px;
  height: 2px;
  background-color: white;
  margin: 1.5rem 0;
}

.hint-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* background:linear-gradient(rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0.2)); */
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
}
.hint-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hint {
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'andada';
  /* box-shadow: 0px 0px 10px 2px hsl(240,17%,7%); */
}

.anim-pulse {
  animation: 1.5s linear 0s infinite both running pulse;
}
@keyframes pulse {
  0% {
    filter: brightness(0.4);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.4);
  }
}